/*@import url(https://fonts.googleapis.com/css?family=Dosis:500);*/
@import 'https://fonts.googleapis.com/css?family=Lato:300';
@font-face {font-family: VK;src: url('../../assets/fonts/AnotherAmerica.ttf');}

.pbcevents{
  background-image: url(../../images/pbcevents2018.png);
  background-size: 100% 100%;
  height: 400px;
  width: 445px;
  margin: auto;
}

.VoodooKreweTradeMark{
  /* width: 136px;
  height: 220px; */
  width: 72px;
  height: 111px;
  position: fixed;
  bottom: 20px;
  right: 32px;
  background-image: url(../../images/VK201701.png);
  background-size: 100% 100%;
  z-index: 999;
}
.LAWBTradeMark{
  width: 180px;
  height: 108px;
  position: fixed;
  bottom: 20px;
  right: 120px;
  background-image: url(../../images/LAWB-opacity.png);
  background-size: 100% 100%;
  z-index: 999;
}

.gotoybChannel{position: absolute;right: 18px;top: 72px;height: 30px;background: #e32d27;color: white;border: none;border-radius: 3px;font-weight: 700;}
.gotoybChannel:hover{cursor: pointer;}
#instaContent{
  /* width: 120px;
  display:block;
  float: right; */
  /* margin-right: 13px;
  border: 1px solid white;
  border-radius: 8px;
  padding-right: 6px;
  padding-bottom: 6px;
  margin: 8px; */
}
#ytContent{
  /* display:block;
  width:   108px;
  float: right;
  margin-right: 13px;
  border: 1px solid white;
  border-radius: 8px;
  padding-right: 6px;
  padding-bottom: 6px;
  margin: 8px; */
  margin-right: 13px;
}
.voodooimage{
  height:100px;
  width: 100px;
  border: 5px solid black;
  position: absolute;
  left:15px;
  top: 15px;
  border-radius: 100px;
  background-image: url('../../images/vkimage.jpg');
  background-size: cover;
}

#overlayNewProspect{
  height: 95%;
  width: 70%;
  background-color: RGBA(26, 27, 35, 1.00);
  /*margin: auto;
  display: block;*/
  margin-top: 24px;
  padding-top: 20px;
  box-shadow: 0 0 90px RGBA(26, 27, 35, 1.00);
  z-index: 9999;
  position: absolute;
  left: 16%;
  border-top-left-radius: 60px;
  /*opacity: 1;
  filter: alpha(opacity=1); /* For IE8 and earlier */*/
}
.characterOverlay{
  background-image: url(../../images/garret.png);
  background-size: cover; height: 300px; width: 300px; z-index: 999;
  position: absolute; right:0; bottom: 35%;
}

.overlayForModal{
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  /*background-color: RGBA(210, 53, 70, 0.8);*/
  border-radius: 5px;
  /*background-image: url('../../images/green-hexagons-background.png');
  background-size: cover;*/
}

.modalButton{
  border:0;
  background-color:    #d23546;
  box-shadow:    3px -3px 0 0 #444;
  color:         #fff;
  display:       block;
  padding:       8px 24px;
  font:          normal 700 24px/1 "Arvo", serif;
  text-align:    center;
  text-shadow:   1px 1px 0 #000;
  width: 90%;
  height: 75px;
  margin: auto;
  font-family: 'Lato', sans-serif; margin-top: 20px;
}

.modalButton:focus{
  box-shadow: 0 0 15px black;
  border: 1px solid black;
  outline:0;
}
.modalButton:hover{cursor: pointer;}

.displayNone{display:none;}

#instafeed { position: relative; width: 100%; }

.col3 { float: left; padding: 0 0 25%; position: relative; width: 25%; }

.col3 a { background-position: center; background-repeat: no-repeat; background-size: cover; height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
/*.col3 a.zoom { background-size: 126.5%; }
.col3 a.zoom2 { background-size: 149%; }*/

.gradient {
  background-color: #1A1B23;/* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #020100, #1C1D26,#020100);
}
.vkinstalink{font-family: VK;font-size: 116px !important;text-shadow: 5px 5px 5px black;color: white;margin-bottom: 35px !important;}
.vkinstalink:hover{
  color: white;
  text-shadow: 5px 5px 25px black;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.Events{
  padding: 30px;
  background-color: red;
  margin-left: 38%;
  float: right;
  position: relative;
}
.profileBIoPic{
  min-width:295px;
  width: 100%;
  height: 450px;
  background-color: RGBA(94, 109, 252, 0.5);
  background-image: url('../../images/8581888308_ff83c461e4_o.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
}
#idv02:hover{
  background-image: url('../../images/IdvPlayerShots/tekkmikebF.jpg') !important;
  background-size: 100% 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: url('../../images/green-paint-splash.png'), default;
  box-shadow: 0 0 50px; white;
}
#idv17:hover{
  background-image: url('../../images/IdvPlayerShots/SulliReeceF.jpg') !important;
  background-size: 100% 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: url('../../images/green-paint-splash.png'), default;
  box-shadow: 0 0 50px; white;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  /*background: #EEE;*/
}

.gallery-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background-color: RGBA(48, 50, 51, 0.7);
  counter-increment: gallery-cell;
  /*text-align: center;*/
}

.flickity-page-dots .dot{
  background: white !important;
}

/* cell number */
/* .gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

.flickity-viewport{ height: 400px !important;}

.yta:hover{color: transparent !important;}
.instas:hover{color: transparent !important;}

#ytFeedPage{
  background-image: url('../../images/VKplayerlandings/jeremyLAWB00.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.eventOver{
  color: black;
  text-shadow: 0 0 5px white;
  background-color: RGBA(210, 53, 70, 0.8);
  height: 60px;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 35%;
}

#eventsPage{
  background-image: url('../../images/evetsbg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /*text-shadow: 0 0 15px white;*/
}
.event1{
  background-color: RGBA(94, 109, 252, 0.1);
  width: 50%;
  display: block;
  margin: auto;
  height: 100%;
  /*background-image: url('../../images/tet.jpg');*/
  background-size: 100% 100%;
  border: 1px solid black;
}

.event1 > a > button:hover{
  cursor: pointer;
}

.event1 > a > button > i:hover{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: RGBA(206, 186, 104, 1.00); ;
}

.event2{
  background-color: RGBA(94, 109, 252, 0.1);
  width: 65%;
  display: block;
  margin: auto;
  height: 100%;
  background-image: url('../../images/gangs.jpg');
  background-size: 100% 100%;
  border: 1px solid black;
}

.event2 > a > button:hover{
  cursor: pointer;
}

.event2 > a > button > i:hover{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: RGBA(206, 186, 104, 1.00); ;
}

.event3{
  /*background-image: url('../../images/neverland.jpg');*/
  background-color: RGBA(94, 109, 252, 0.1);
  width: 65%;
  display: block;
  margin: auto;
  height: 100%;
  background-size: 100% 100%;
  border: 1px solid black;
}
.event3 > a > button:hover{
  cursor: pointer;
}
.event3 > a > button > i:hover{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: RGBA(206, 186, 104, 1.00); ;
}
/*-=-==Media Query SECION-=-=-=*/
@media screen and (max-width: 414px){
  .VoodooKreweTradeMark{
    display: none;
  }
  .LAWBTradeMark{
    display: none;
  }
  .pcredit{display: none;}
  .gotoybChannel{width: 60px; height: 50px; top: 64px;}
  .vkinstalink{font-size:100px !important;}

}
@media screen and (max-width: 980px){
  #hideContent{display: none;}
}
/*@media screen and (max-width: 770px){
  #{display: none;}
}*/
@media screen and (max-width: 770px) and (min-width: 668px){
  .newProspect{width:60% !important;}
  .characterOverlay{bottom: 35%;}
}
@media screen and (max-width: 769px){
  /*.pos1{width: 100% !important;}*/
  .col-sm-6{width: 100%;}
  section > p{font-size: 10px;}
}

@media screen and (max-width: 670px){
  #five{ height:30%; }
  .event1{ width: 80%; }
  #eventsPage{ background: none; }
  canvas{height: 225px !important;}
}
@media screen and (max-width: 670px) and (min-width: 450px){
  #overlayNewProspect{border-radius: 0px !important;}
  #overlayNewProspect > p {font-size: 16px;}
  .characterOverlay{bottom: 35%;}
  .voodooimage{display: none;}
}
@media screen and (max-width: 450px){
  .pos1{height: 290px !important;}
  .pos2{height: 290px !important;}
  .newProspect{width:100% !important; -webkit-filter: blur(2px);overflow: hidden;}
  .voodooimage{display: none;}
  .modalButton{height: 35px;}
  #overlayNewProspect > p {font-size: 16px;}
  #overlayNewProspect{border-radius: 0;}
  .characterOverlay{bottom: 35%;}
}

@media screen and (max-width: 380px){
  .pos1{height: 250px !important;}
  .pos2{height: 250px !important;}
  .newProspect{height: 250px !important;}
  .vkinstalink{font-size:100px !important;}
}
/*-=-=-=Media Query SECION END-=-=-=*/
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 1px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

#currentProsspectContainer{
  /*display: flex;*/
  width: 100% !important;
  padding: 20px;
}

.pos1{
  background-image: url('../../images/prospects/13268236_1768143470071172_2465102458889995435_o.jpg');
  background-size: 100% 100%;
  height: 350px;
  width: 100%;
  /*margin: auto;*/
  display: block;
  border-radius: 10px;
  margin-top: 5px;
}
.pos2{
  background-image: url('../../images/prospects/13268260_1768143836737802_1340727019263978639_o.jpg');
  background-size: 100% 100%;
  height: 350px;
  width: 100%;
  /*margin: auto;*/
  display: block;
  border-radius: 10px;
  margin-top: 5px;
}

.newProspect{
  /*background-image: url('../../images/prospects/13301443_1768144003404452_6927611433134029920_o.jpg');*/
  background-image: url('../../images/13301443_1768144003404452_6927611433134029920_o.jpg');
  background-size: 100% 100%;
  height: 350px;
  width: 100%;
  margin: auto;
  display: block;
  margin-top: 18px;
}

#musicPlayer{
  width: 400px;
  color: white;
  text-shadow: 0 0 35px black;
  background-color: RGBA(26, 27, 35, 0.5);
  position: fixed;
  bottom: 22px;
  left: 19px;
  z-index: 99;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  -webkit-animation-delay: 4s;
  border: 1px solid black;
}
#musicPlayer > h5 {margin: 0;}
.fa-pause:hover{cursor: pointer;}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover{
  background-color: #2098d1;
  color: white;
}
.a > i {
    font-size: 164px;
    margin-top: 50px;
}
.a{
  background-color: RGBA(228, 76, 101, 0.0);
  border: 1px solid black;
  float: left;height:350px;
  width: 285px;
  display:inline-block;
  /*background-image: url('../../images/IdvPlayerShots/tekkmikebF.jpg');*/
  background-size: 100% 100%;
  border: 1px solid #CEBA68;
}
.a:hover .aPlayerOverLay {
  opacity: 1;
}
.aPlayerOverLay{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 350px;
  width: 285px;
  background-color: RGBA(26, 27, 35, 0.7);
  /*height: 100%;
  width: 100%;*/
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contentContainerPlayer {
  position: relative;

}

.containerthing {
  position: relative;
  height:350px;
  width: 285px;
  float: left;
  display: inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:350px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: RGBA(26, 27, 35, 0.5);
}

.containerthing:hover .overlay {
  opacity: 1;
}
/*.bg{
  height: 250px;
  width: 250px;
  margin-left: 40%;
  background-image: url('../circle_brush.png');
  background-size: 100% 100%;
}*/
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(26, 27, 35, 0.13) 0%,
    rgba(26, 27, 35, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
    /*rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%*/
  );
}

/* Hover state - trigger effect */

.shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.shine:active:after {
  opacity: 0;
}

.shine {
  overflow: hidden;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
 16.65% {
   -webkit-transform: translateX(8px);
   transform: translateX(8px);
 }
 33.3% {
   -webkit-transform: translateX(-6px);
   transform: translateX(-6px);
 }
 49.95% {
   -webkit-transform: translateX(4px);
   transform: translateX(4px);
 }
 66.6% {
   -webkit-transform: translateX(-2px);
   transform: translateX(-2px);
 }
 83.25% {
   -webkit-transform: translateX(1px);
   transform: translateX(1px);
 }
 100% {
   -webkit-transform: translateX(0);
   transform: translateX(0);
 }
}
@keyframes hvr-wobble-horizontal {
 16.65% {
   -webkit-transform: translateX(8px);
   transform: translateX(8px);
 }
 33.3% {
   -webkit-transform: translateX(-6px);
   transform: translateX(-6px);
 }
 49.95% {
   -webkit-transform: translateX(4px);
   transform: translateX(4px);
 }
 66.6% {
   -webkit-transform: translateX(-2px);
   transform: translateX(-2px);
 }
 83.25% {
   -webkit-transform: translateX(1px);
   transform: translateX(1px);
 }
 100% {
   -webkit-transform: translateX(0);
   transform: translateX(0);
 }
}
.hvr-wobble-horizontal {
 display: inline-block;
 vertical-align: middle;
 -webkit-transform: perspective(1px) translateZ(0);
 transform: perspective(1px) translateZ(0);
 box-shadow: 0 0 1px transparent;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
 -webkit-animation-name: hvr-wobble-horizontal;
 animation-name: hvr-wobble-horizontal;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-timing-function: ease-in-out;
 animation-timing-function: ease-in-out;
 -webkit-animation-iteration-count: 1;
 animation-iteration-count: 1;
}


/* youtube custom css */
.sk-ww-youtube-channel-videos{background-color: rgba(28, 28, 39,0.8) !important;}
.sk-yt-channel-description{padding-left: 50px; padding-right: 50px;}
.sk-yt-bottom-follow-btn{width: 30% !important;margin: auto !important;display: block !important;float: none !important;height: 50px;}
