.vkinstalink:hover{
  color: white;
  text-shadow: 0 0 5px black;
}

.Events{
  padding: 30px;
  background-color: red;
  margin-left: 38%;
  float: right;
  position: relative;
}

.profileBIoPic{
  min-width:295px;
  width: 100%;
  height: 450px;
  background-color: RGBA(94, 109, 252, 0.5);
  background-image: url('../../images/8581888308_ff83c461e4_o.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#idv02:hover{
  background-image: url('../../images/IdvPlayerShots/tekkmikebF.jpg') !important;
  background-size: 100% 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  /*background: #EEE;*/
}

.gallery-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background-color: RGBA(48, 50, 51, 0.7);
  counter-increment: gallery-cell;
  /*text-align: center;*/
}

.flickity-page-dots .dot{
  background: white !important;
}

/* cell number */
/* .gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */

.flickity-viewport{ height: 400px !important;}
#eventsPage{
  background-image: url('../../images/hintergrund.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  /*text-shadow: 0 0 15px white;*/
}
.event1{
  background-color: RGBA(94, 109, 252, 0.1);
  width: 45%;
  display: block;
  margin: auto;
  height: 100%;
  background-image: url('../../images/3threat2016web.jpg');
  background-size: 100% 100%;
}

.event1 > a > button:hover{
  cursor: pointer;
}

.event1 > a > button > i:hover{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: RGBA(206, 186, 104, 1.00); ;
}

@media screen and (max-width: 980px){
  #hideContent{display: none;}
}
